.tecnologias-icons__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tecnologias-icons__container i {
  margin: 0 0.5rem;
}

.tecnologias-icons__container img {
  margin: 0 0.4rem;
  width: 2.6rem;
}

