.tecnologias-icons__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tecnologias-icons__container i {
  margin: 0 0.5rem;
}

.tecnologias-icons__container img {
  margin: 0 0.4rem;
  width: 2.6rem;
}


.fa-html5 {
  color: #E44D26;
}

.fa-css3-alt {
  color: #0096DC;
}

.fa-angular {
  color: #E00032;
}

.fa-react {
  color: #00DCFF;
}

.fa-git-alt {
  color: #E84D31;
}

.fa-square-js {
  color: #F7E018;
}

.fa-bootstrap {
  color: #7111F0;
}
