<div class="proj__container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="https://mercurialbr.github.io/angular-xbox-store/" target="_blank">
          <img
            class="d-block w-100"
            src= {{primeiraImg}}
            alt="Primeiro Slide"
          ></a>
      </div>

      <div class="carousel-item">
        <a href="https://mercurialbr.github.io/angular-psn-store/" target="_blank">
          <img
            class="d-block w-100"
            src= {{segundaImg}}
            alt="Segundo Slide"
          ></a>
      </div>

      <div class="carousel-item">
        <a href="https://mercurialbr.github.io/angular-blog/" target="_blank">
          <img
            class="d-block w-100"
            src= {{terceiraImg}}
            alt="Terceiro Slide"
          ></a>
      </div>

      <div class="carousel-item">
        <a href="" target="_blank">
          <img
          class="d-block w-100"
          src= {{quartaImg}}
          alt="Quarto Slide"
        ></a>
      </div>

      <div class="carousel-item">
        <a href="https://mercurialbr.github.io/angular-buzzfeed/" target="_blank">
          <img
            class="d-block w-100"
            src= {{quintaImg}}
            alt="Quinto Slide"
          ></a>
      </div>

      <div class="carousel-item">
        <a href="https://mercurialbr.github.io/calculadora-react/" target="_blank">
          <img
            class="d-block w-100"
            src= {{sextaImg}}
            alt="Sexto Slide"
          ></a>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"> Anterior  </span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"> Próximo </span>
    </a>
  </div>
</div>
