<div class="projetos__container">
  <h1> PROJETOS </h1>

  <app-proj-img
    primeiraImg = 'https://uploaddeimagens.com.br/images/004/331/998/full/img1.png?1675713338'
    segundaImg = 'https://uploaddeimagens.com.br/images/004/331/999/full/img2.png?1675713375'
    terceiraImg = 'https://uploaddeimagens.com.br/images/004/332/000/full/img3.png?1675713435'
    quartaImg = 'https://uploaddeimagens.com.br/images/004/332/199/full/img4.png?1675723903'
    quintaImg = 'https://uploaddeimagens.com.br/images/004/332/003/full/img5.png?1675713500'
    sextaImg = 'https://uploaddeimagens.com.br/images/004/332/004/full/img6.png?1675713516'
  ></app-proj-img>
</div>
