<div class="sobre__container">
  <div class="profile">
    <app-image-profile></app-image-profile>
  </div>

  <div class="content">
    <h2> Sobre </h2>
    <h1> Victor Barboza </h1>
    <p> Meu nome é Victor de Moraes Barboza,  tenho 23 anos, sou encantado por tecnologia desde quando me conheço por gente.
      <br>
      Comecei minha carreira em um curso de Informática avançada quando mais novo e fiz o ensino médio técnico... Nesta época já
      sabia o que queria seguir, saindo do ensino médio comecei a faculdade de Ciência da Computação, adquirindo habilidades de
      planejamento, gerenciamento de projetos, desenvolvimento, implementação, entre outros... Assim então escolhi a área de
      desenvolvimento WEB que mais me identifiquei durante a faculdade e por já ter experiência trabalhando como Designer Gráfico.
      <br>
      Meu Objetivo é a evolução constante para aprender e dominar tecnologias e acrescentar na minha carreira profissional e minha
      meta é trabalhar em uma empresa corporativa, onde possa aplicar meus conhecimentos e contribuir na resolução de problemas da
      instituição.
    </p>
  </div>
</div>
