<div class="sobre__container">
  <div class="profile">
    <app-image-profile></app-image-profile>
  </div>

  <div class="contain">
    <h2> Sobre </h2>
    <h1> Victor Barboza </h1>
    <p> Sou Victor de Moraes Barboza,  tenho 23 anos, sou encantado por tecnologia desde quando me conheço por gente. <br>
      Meu Objetivo é a evolução constante para aprender e dominar tecnologias e acrescentar na minha carreira profissional.
      Com isso se tornar um Dev onde possa ajudar e acrescentar nos futuros companheiros de profissão... <br>
      Minha meta esse ano é conseguir uma vaga como desenvolvedor Front-End em uma empresa que eu possa adquirir muito desenvolvimento,
      conhecimento e experiência como desenvolvedor.
    </p>
  </div>
</div>
