.sobre__container {
  width: 100%;
  height: auto;
  display: flex;
}

.sobre_cotainer_itens {
  width: 100%;
  padding: 1.8rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgba(255, 255, 255, 0.21);
  border-radius: 1.2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.58);
}


.profile {
  margin-bottom: 1rem;
}

.content h2 {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 0.3rem;
  color: #EACA43;
}

.content h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.content p {
  font-size: 1rem;
  font-weight: 520;
  line-height: 1.3;
  text-align: justify;
  hyphens: auto;
  cursor: default;
}

@media screen and (max-width: 600px) {
  .sobre__container {
    width: 100%;
  }
  .sobre_cotainer_itens {
    margin-bottom: 0;
  }
  .content h2 {
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 0.3rem;
    color: #fbff00;
  }
  .content h1{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
  }
  .content p {
    font-size: 0.8rem;
    font-weight: 350;
    line-height: 1.19;

  }
}
